*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #151619;
}

a{
  color: #333333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.submitButton {
  display: inline-block;
  border: none;
  background: #455a64;
  color: #ffffff;
  padding: 7px 20px;
  cursor: pointer;
}

.submitButton:hover{
  background: #37474f;
}

.about{
  background: #e8e8e8;
  padding: 10px;
}